flows (4).json
[{"id":"a148c61c.013f18","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f466bb9d.df0e48","type":"mqtt in","z":"a148c61c.013f18","name":"","topic":"mcs/DBh5MzQ1/tlgXYjMtz0mppeV9/+","qos":"2","datatype":"auto","broker":"8633ce1f.e5c66","x":270,"y":200,"wires":[["abdac729.da5be8"]]},{"id":"abdac729.da5be8","type":"csv","z":"a148c61c.013f18","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":210,"y":300,"wires":[["e0146ced.d9d22"]]},{"id":"e0146ced.d9d22","type":"change","z":"a148c61c.013f18","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":440,"wires":[["49e23369.e42e4c"]]},{"id":"49e23369.e42e4c","type":"ui_gauge","z":"a148c61c.013f18","name":"","group":"174c47bf.1390e8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":440,"wires":[]},{"id":"8633ce1f.e5c66","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"174c47bf.1390e8","type":"ui_group","z":"","name":"Status","tab":"456ce66e.315498","order":1,"disp":true,"width":"6","collapse":false},{"id":"456ce66e.315498","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]