flows.json
[{"id":"878ef5ce.e9aef8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"99eba1fd.7bbf2","type":"inject","z":"878ef5ce.e9aef8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["3b553e93.7bcb32"]]},{"id":"3b553e93.7bcb32","type":"function","z":"878ef5ce.e9aef8","name":"Payload","func":"msg.headers={\n    deviceKey: \"cnXytYtH0jzNei9i\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["928c625f.5d1d7"]]},{"id":"928c625f.5d1d7","type":"http request","z":"878ef5ce.e9aef8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DUCroRM0/datachannels/LEDControl/datapoints.csv","tls":"","proxy":"","authType":"","x":260,"y":420,"wires":[["eb96060d.a2ae08","4280874e.d57538"]]},{"id":"eb96060d.a2ae08","type":"http response","z":"878ef5ce.e9aef8","name":"","statusCode":"","headers":{},"x":590,"y":420,"wires":[]},{"id":"4280874e.d57538","type":"debug","z":"878ef5ce.e9aef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":640,"wires":[]}]