flows (3).json
[{"id":"bc100386.544d2","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"b9bb5d24.d5ffb","type":"inject","z":"bc100386.544d2","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["d03821e1.fb81a"]]},{"id":"2a30eb0c.4c5094","type":"inject","z":"bc100386.544d2","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["d03821e1.fb81a"]]},{"id":"d03821e1.fb81a","type":"mqtt out","z":"bc100386.544d2","name":"","topic":"mcs/DBh5MzQ1/tlgXYjMtz0mppeV9/Temperature","qos":"2","retain":"","broker":"8633ce1f.e5c66","x":600,"y":160,"wires":[]},{"id":"8633ce1f.e5c66","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]